.herocombo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    height: auto;
    color: #1E3A8A; /* Azul Escuro para o texto */
    background-color: #ffffff; /* Cinza Claro para o fundo */
    padding-top: 50px;
    margin-bottom: 150px;
}

.herocombotextleft {
    padding: 15px;
}

.herolist {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 0px;
}

.herolist li {
    background: linear-gradient(135deg, #1E3A8A, #0b4cffda);
    height: auto;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF; /* Branco para o texto dos itens da lista */
    font-weight: 500;
    box-shadow: 1px 1px 2px 2px #00000039;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.herolist li:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
}

.heroimg {
    height: 450px;
    width: 70%;
}

.heroimg img {
    box-shadow: 1px 1px 2px 2px #0000002a;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.heroimg img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.herocomboimglist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    color: #FB923C; /* Laranja Vivo */
}

.image {
    width: 110%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.herocombolinkbottom {
    display: flex;
    justify-content: center;
}

.btn-warning {
    background-color: #FB923C; /* Laranja Vivo para o botão */
    color: #FFFFFF; /* Branco para o texto do botão */
}

.customButton {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.customButton:hover {
    background-color: #FFAA5C; /* Mais claro ao passar o mouse */
    transform: scale(1.05);
}

@media (max-width: 700px) {
    .herocombo {
        grid-template-columns: 1fr; 
        margin-bottom: -150px;
    }

    .heroimg {
        height: 600px;
        width: 80%;
        margin-left: 0;
        padding: 0;
    }

    .herolist {
        grid-template-columns: repeat(2, 1fr);
    }

    .herolist li {
        background-color: #3B82F6; /* Azul Claro */
        height: auto;
        width: 80%;
        margin: 10px;
        margin-left: -8%;
    }
}

.highlight {
    color: #FB923C; /* Laranja Vivo */
}
