/* Estilo principal da estrutura */
.apstructurest {
  animation: fadeInUp 1.5s ease-out;
  background-image: url('../../../../public/banner3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  width: 100%;
  position: relative;
  /* Necessário para que o posicionamento absoluto da imagem funcione */
  animation: fadeInUp 1.5s ease-out;
  background-image: url('../../../../public/banner3.jpg');
}


/* Animação de entrada */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo para o título */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
  text-shadow: 2px 4px 6px #000000;
}

/* Estilo para a descrição */
.description {
  font-size: 1.4rem;
  line-height: 2;
  color: #f6f6f6;
  text-shadow: 2px 4px 6px #000000;
  /* Altere a cor conforme necessário */
}

/* Estilo da imagem */
.imgleft {
  position: absolute;
  bottom: 0;
  right: 0;
}