@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.herocontainer {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    color: #ffffff; /* Cinza claro para profissionalismo */
    padding-top: 50px;
    padding: 5px;
    background: linear-gradient(to right, #1E3A8A , #114df3c1 );
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.37);
}

.herotwo {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}

.herotwoleft {
    grid-column: 1;
    padding: 20px;
}

.herotwoimg {
    height: 600px;
    width: 80%;
    margin-left: 15%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.herotwoimg:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.herotwotextleft {
    transform: rotate(270deg);
    color: #FB923C; /* Laranja Vivo para destaque */
    margin-top: -107%;
    margin-left: -102.6%;
}

.herotwotextleft h1 {
    font-size: 70px;
    margin-top: 3%;
    text-shadow: 2px 2px 5px #000000c6;
    color: #FB923C; /* Azul Claro para título */
}

.herotwotextbottom {
    width: 66%;
    margin-left: 30%;
    margin-top: -16%;
}

.herotwotextbottom h2 {
    font-size: 48px;
    color: #FB923C; /* Laranja Vivo para subtítulo */
    text-shadow: 2px 2px 12px #000000c6;   
}

.herotwotextbottom p {
    font-size: 20px;
    color: #ffffff; /* Cinza claro para texto */
    text-shadow: 2px 1px 4px #000000da;   
    font-weight: 400;
}

.herotworigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1E3A8A; /* Azul Escuro para confiança */
    height: auto;
    text-align: left;
}

.herotwotextrigth {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid #3B82F6; /* Azul Claro para separadores */
    height: 140px;
    margin-top: 1%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.herotwotextrigth:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
}

.herotworigtharticles {
    width: 100%;
    max-height: 200px;
}

.herotworigtharticles h4 {
    margin-bottom: -10px;
    font-size: 18px;
    color: #FB923C; /* Laranja Vivo para títulos internos */
}

.herotworigtharticles p {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 14px;
    color: #ffffff; /* Cinza claro para texto adicional */
}

.image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-top: 80px;
    box-shadow: 1px 1px 2px #00000080;
    z-index: -10;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.image2 {
    object-fit: cover;
    width: 60%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.image2:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

@media (max-width: 900px) {
    .herotwotextleft h1 {
        font-size: 56px;
    }
    .herotwotextbottom {
        width: 66%;
        margin-left: 30%;
        margin-top: -56%;
    }
    .herotwotextbottom h2 {
        font-size: 28px;
    }
    .herotwotextbottom p {
        font-size: 16px;
    }
}

@media (max-width: 771px) {
    .herocontainer {
        padding-top: 40px;
    }
    .herotwo {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .herotwotextbottom p {
       color: #E5E7EB;
    }
    .herotwoleft {
        padding: 0px;
    }
    
    .herotwoimg {
        height: 600px;
        width: 92%;
        margin-left: 4%;
    }
    
    .herotwotextleft {
        margin-top: -107%;
        margin-left: -96%;
    }
    
    .herotwotextleft h1 {
        font-size: 60px;
    }
    
    .herotwotextbottom {
        width: 80%;
        margin-left: 16%;
        margin-top: -46%;
    }
    
    .herotworigtharticles {
        margin: 4px;
    }
}
