@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.herocontainer {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.37);
    margin-top: 70px;
}

.herocontainer {
    color: #000000;
}
.herotwo {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    padding: 10px;
}

.herotwoleft {
    grid-column: 1;
    padding: 20px;
}

.herotwoimg {
    height: 600px;
    width: 80%;
    margin-left: 15%;
}

.herotwotextleft {
    transform: rotate(270deg);
    color: #ffffffc6;
    margin-top: -107%;
    margin-left: -102.6%;
}

.herotwotextleft h1 {
    font-size: 70px;
    margin-top: 3%;
    text-shadow: 2px 2px 5px #000000c6;
}

.herotwotextbottom {
    width: 66%;
    margin-left: 30%;
    margin-top: -16%;
}

.herotwotextbottom h2 {
    font-size: 48px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.herotwotextbottom p {
    font-size: 20px;
    color: #278ece;
    text-shadow: 2px 2px 12px #000000c6;   
    font-weight: 500; 
}

.herotworigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: #341c1c;
    height: auto;
    text-align: left;
}

.herotwotextrigth {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    height: 140px;
}

.herotworigtharticles {
    width: 100%;
    max-height: 200px;
}

.herotworigtharticles h4 {
    margin-bottom: -10px;
    font-size: 18px;
}

.herotworigtharticles p {
    margin-bottom: -10px;
    font-size: 14px;
}

.image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-top: 80px;
    box-shadow: 1px 1px 2px #00000080;
    z-index: -10;
}

.image2 {
    object-fit: cover;
    width: 60%;
}

@media (max-width: 900px) {
    .herotwotextleft h1 {
        font-size: 56px;
    }
    .herotwotextbottom {
        width: 66%;
        margin-left: 30%;
        margin-top: -56%;
    }

    .herotwotextbottom h2 {
        font-size: 28px;
        color: white;
    }

    .herotwotextbottom p {
        font-size: 16px;
        color: white;
    }
}

@media (max-width: 771px) {
    .herotwo {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .herotwoleft {
        padding: 0px;
    }
    
    .herotwoimg {
        height: 600px;
        width: 92%;
        margin-left: 4%;
    }
    
    .herotwotextleft {
        margin-top: -107%;
        margin-left: -96%;
    }
    
    .herotwotextleft h1 {
        font-size: 60px;
    }
    
    .herotwotextbottom {
        width: 80%;
        margin-left: 16%;
        margin-top: -46%;
    }
    
    .herotwotextbottom p {
        font-size: 16px;
        color: white;
    }
    .herotworigtharticles{
        margin: 4px;
    }
    .herotwotextrigth {
        margin-top: 1%;
    }
}

@media (max-width: 900px) {
    .herotwotextrigth {
        margin-top: 20%;
    }
}