.pagestyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(135deg, #ffffff 0%, #ffffff98 100%);
    font-family: 'Arial', sans-serif; /* Exemplo de fonte */
    margin: 0;
    padding: 0;
}
