.headernav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: white;
    white-space: nowrap;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
}

.sticky {
    position: fixed;
    width: 100%;
    height: 60px; /* Altura reduzida */
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
}

/* Transição de tamanho do logo */
.largeLogo {
    transition: width 0.3s ease, height 0.3s ease;
}

.smallLogo {
    transition: width 0.3s ease, height 0.3s ease;
}

.menu {
    margin-right: 30%;
    display: flex;
}

.transparent-bg {
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar {
    margin-top: 50px;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.navbar-toggler {
    border: none;
}

.navbar-collapse {
    transition: max-height 0.3s ease;
}

.navbar-nav .nav-link {
    padding: 10px 15px;
}

/* Media Queries */
@media (max-width: 768px) {
    .headernav {
        height: auto;
    }
    .menu {
        height: 140px;
        margin-top: 30px;
    }
    .sticky {
        margin-top: 20px;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-link {
        text-align: center;
    }
}
