.textcaroucel {
    text-align: center;
    position: relative;
    top: 30px;
    left: 10%;
    color: white;
    width: 70%;
    height: auto;
    border-radius: 15px;
    text-shadow: 2px 4px 6px #000000;
}

@media (max-width: 600px) {
    .textcaroucel {
        width: 120%;
        left: -12%;
        height: 400px;
        top: -40px;
    }
    .textes {
        padding-bottom: 250px;
    }
}

.textes {
    margin-top: -105.5px;
    height: auto;
}